/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Sep 2014, 10:27:00 AM
    Author     : Jeremy
*/

.hbox
{
    -fx-padding: 0px;
    -fx-spacing: 0px;
}

.polygon
{
    
    -fx-padding: 0px;
    -fx-spacing: 0px;
    -fx-border-width: 2px;
    -fx-border-color: black; 
}